<ion-header>
  <ion-navbar>
    <ion-title>{{info.title}}</ion-title>
  </ion-navbar>
 
</ion-header>
<ion-content class="has-header has-footer">
  <!-- <h2><span> -->
    <ion-icon name="information-circle-outline"></ion-icon>
    <!-- This work order type requires additional information</span></h2> -->
  <div class="accordion_wrap">
    <!-- /* Group Data*/ -->
    <div>
      <button class="accordion">Available Group Data</button>
      <div class="panel radio_text">
          <ion-grid>
              <ion-row>
                <ion-col><div>S.No.</div></ion-col>
                <ion-col><div> Date</div></ion-col>
                <ion-col><div>User</div></ion-col>
                <ion-col><div>Message</div></ion-col>
              </ion-row>
               <ion-row *ngFor="let item of info.group;let i=index;">
                  <ion-col><div>{{i+1}}</div></ion-col>
                  <ion-col><div>{{item.date}}</div></ion-col>
                  <ion-col><div>{{item.user}}</div></ion-col>
                  <ion-col><div>{{item.message}}</div></ion-col>
                </ion-row>
            </ion-grid>

      </div>
    </div>
    <!-- /* Group Data End*/ -->
    
    <!-- /* Total Message By User*/ -->
    <div>
        <button class="accordion">Total Message Count  By User</button>
        <div class="panel radio_text">
            <ion-grid>
                <ion-row>
              <ion-col><div>S.No.</div></ion-col>
              <ion-col><div>User</div></ion-col>
              <ion-col><div> Message Count</div></ion-col>
                </ion-row>
                <ion-row *ngFor="let item of info.usermsgcount;let i=index;">
                    <ion-col>
                      <div>
                        {{i+1}}
                      </div>
                    </ion-col>

                    <ion-col>
                      <div>
                        {{item.user}}
                      </div>
                    </ion-col>
                    <ion-col>
                        <div>
                          {{item.totalmsg}}
                        </div>
                      </ion-col>
                  </ion-row>
              </ion-grid>
  
        </div>
      </div>
      <!-- /* Group Data End*/ -->
    
    <!-- /* Group Data*/ -->
    <div>
        <button class="accordion">Members in a group</button>
        <div class="panel radio_text">
            <ion-grid>
                <ion-row>
                  <ion-col>
                    <div>
                      S.No.
                    </div>
                  </ion-col>
                  
                  <ion-col>
                    <div>
                      User
                    </div>
                  </ion-col>
                  
                </ion-row>
                <ion-row *ngFor="let item of info.userlist;let i=index;">
                    <ion-col>
                      <div>
                        {{i+1}}
                      </div>
                    </ion-col>

                    <ion-col>
                      <div>
                        {{item}}
                      </div>
                    </ion-col>
                    
                  </ion-row>
              </ion-grid>
  
        </div>
      </div>
      <!-- /* Group Data End*/ -->
    
      <!-- / * Most Messager In Group  Begin*/ -->
      <div>
          <button class="accordion"> Who Send Most Message In Group</button>
          <div class="panel">
            <p>
              <ion-item>
                <ion-label color="primary" floating>User :- {{info.mostmessager.user}} ({{info.mostmessager.totalmsg}})</ion-label>
                <ion-input readonly="true"></ion-input>
              </ion-item>
            
            </p>
          </div>
        </div>
      <!-- /* Most Messager In Group End*/ -->
    
<!-- / * Most Active User In Group  Begin*/ -->
<div>
    <button class="accordion">Most Active User In Group</button>
    <div class="panel">
      <p>
        <ion-item>
          <ion-label color="primary" floating>User :- {{info.mostmessager.user}} </ion-label>
          <ion-input readonly="true"></ion-input>
        </ion-item>
      
      </p>
    </div>
  </div>
<!-- /* Most Messager In Group End*/ -->

    <!-- / * Least Messager In Group  Begin*/ -->
    <div>
        <button class="accordion">Least Messager In Group</button>
        <div class="panel">
          <p>
            <ion-item>
              <ion-label color="black" floating>User :- {{info.leastmesseager.user}} ({{info.leastmesseager.totalmsg}})</ion-label>
              <ion-input readonly="true"></ion-input>
            </ion-item>
          
          </p>
        </div>
      </div>
    <!-- /* Least Messager In Group End*/ -->
    <!-- / * Total User*/ -->
    <div>
        <button class="accordion">Total User In Group</button>
        <div class="panel">
          <p>
            <ion-item>
              <ion-label color="primary" floating>{{info.totaluser}}</ion-label>
              <ion-input readonly="true"></ion-input>
            </ion-item>
          
          </p>
        </div>
      </div>

      <div>
          <button class="accordion">Number of Day From Group Creation .</button>
          <div class="panel">
            <p>
              
              <ion-item>
                  <ion-label color="primary" floating>{{info.groupcreatedday}}</ion-label>
                  <ion-input readonly="true"></ion-input>
                </ion-item>
            </p>
          </div>
        </div>
    <!-- /* Total User*/ -->
    <div>
      <button class="accordion">Total Messages  in a Group</button>
      <div class="panel">
        <p>
          
          <ion-item>
              <ion-label color="primary" floating>{{info.totalmsg}}</ion-label>
              <ion-input readonly="true"></ion-input>
            </ion-item>
        </p>
      </div>
    </div>
     <!-- / * member who send most messages of the day.  Begin*/ -->
     <div>
      <button class="accordion">  Total Letters In Group Message </button>
      <div class="panel">
        <p>
          <ion-item>
            <ion-label color="black" floating>Letters :- {{info.totalletter}}</ion-label>
            <ion-input readonly="true"></ion-input>
          </ion-item>
        
        </p>
      </div>
    </div>
 <!-- / * Least active days of the group.  Begin*/ -->
    <div>
      <button class="accordion"> Total words written in a group till now since creation</button>
      <div class="panel">
        <p>
          <ion-item>
            <ion-label color="black" floating>Total Words :- {{info.totalwords}}</ion-label>
            <ion-input readonly="true"></ion-input>
          </ion-item>
        
        </p>
      </div>
    </div>

 <!-- / * Most active days of the group.  Begin*/ -->
    <div>
      <button class="accordion"> Total count of media messages in a group</button>
      <div class="panel">
        <p>
          <ion-item>
            <ion-label color="black" floating>Total Media :- {{info.mediacount}}</ion-label>
            <ion-input readonly="true"></ion-input>
          </ion-item>
        
        </p>
      </div>
    </div>
     <!-- / * Count Of Media Sent By individual member.  Begin*/ -->
    <div>
      <button class="accordion"> Total count of media posted by each member </button>
      <div class="panel">
        <ion-grid>
          <ion-row>
        <ion-col><div>S.No.</div></ion-col>
        <ion-col><div>User</div></ion-col>
        <ion-col><div> Message Count</div></ion-col>
        <ion-col><div> Media Count</div></ion-col>
          </ion-row>
          <ion-row *ngFor="let item of info.usermedia;let i=index;">
              <ion-col>
                <div>
                  {{i+1}}
                </div>
              </ion-col>

              <ion-col>
                <div>
                  {{item.user}}
                </div>
              </ion-col>
              <ion-col>
                  <div>
                    {{item.totalmsg}}
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    {{item.msgstring}}
                  </div>
                </ion-col>
            </ion-row>
        </ion-grid>
      </div>
    </div>
     
    <div>
      <button class="accordion">  Which member has posted most media in the group</button>
      <div class="panel">
        <p>
          <ion-item>
            <ion-label color="black" floating>Most Media By User :- {{info.mostmediabyuser}}</ion-label>
            <ion-input readonly="true"></ion-input>
          </ion-item>
        
        </p>
      </div>
    </div>
 
    <div>
      <button class="accordion"> Day since group creation when most count of messages is posted (Date)</button>
      <div class="panel">
        <p>
          <ion-item>
            <ion-label color="black" floating>Date:- {{info.mostmsgdate.date}}</ion-label>
            <ion-input readonly="true"></ion-input>
          </ion-item>
        
        </p>
      </div>
    </div>
    <div>
      <button class="accordion">Date when most messages are posted by individual member(Date)</button>
      <div class="panel">
        <p>
          <ion-item>
            <ion-label color="black" floating>Date:- {{info.mostmsgdate.date}}</ion-label>
            <ion-input readonly="true"></ion-input>
          </ion-item>
        
        </p>
      </div>
    </div>
 
    <div>
      <button class="accordion">Date when least messages were sent in the group.(Date)</button>
      <div class="panel">
        <p>
          <ion-item>
            <ion-label color="black" floating>Date:- {{info.leastmsgdate.date}}</ion-label>
            <ion-input readonly="true"></ion-input>
          </ion-item>
        
        </p>
      </div>
    </div>
    <!-- //Count of messages sent by individual member each day -->
    <div>
      <button class="accordion">Total count of messages each day since group creation</button>
      <div class="panel">
        <ion-grid>
          <ion-row>
        <ion-col><div>S.No.</div></ion-col>
        <ion-col><div>Date</div></ion-col>
        <ion-col><div> Message Count</div></ion-col>
      
          </ion-row>
          <ion-row *ngFor="let item of info.datewisemsgcount;let i=index;">
              <ion-col>
                <div>
                  {{i+1}}
                </div>
              </ion-col>

              <ion-col>
                <div>
                  {{item.date}}
                </div>
              </ion-col>
              <ion-col>
                  <div>
                    {{item.totalmsg}}
                  </div>
                </ion-col>
                
            </ion-row>
        </ion-grid>
      </div>
    </div>
    <div>
      <button class="accordion">Count of messages sent by individual member each day</button>
      <div class="panel">
        <ion-grid>
          <ion-row>
        <ion-col><div>S.No.</div></ion-col>
        <ion-col><div>Date</div></ion-col>
        <ion-col><div> user</div></ion-col>
        <ion-col><div> Message Count</div></ion-col>
          </ion-row>
          <ion-row *ngFor="let item of info.datewiseusermessage;let i=index;">
              <ion-col>
                <div>
                  {{i+1}}
                </div>
              </ion-col>

              <ion-col>
                <div>
                  {{item.date}}
                </div>
              </ion-col>
              <ion-col>
                <div>
                  {{item.user}}
                </div>
              </ion-col>
              <ion-col>
                  <div>
                    {{item.totalmesage}}
                  </div>
                </ion-col>
                
            </ion-row>
        </ion-grid>
      </div>
    </div>

    <div>
      <button class="accordion">Most active day of the group</button>
      <div class="panel">
        <p>
          <ion-item>
            <ion-label color="black" floating>Date:- {{info.mostmsgdate.date}}</ion-label>
            <ion-input readonly="true"></ion-input>
          </ion-item>
        
        </p>
      </div>
    </div>
 
    <div>
      <button class="accordion">Least active day of the group</button>
      <div class="panel">
        <p>
          <ion-item>
            <ion-label color="black" floating>Date:- {{info.leastmsgdate.date}}</ion-label>
            <ion-input readonly="true"></ion-input>
          </ion-item>
        
        </p>
      </div>
    </div>
 <!-- Late and early riser -->

 <div>
  <button class="accordion">Least riser user of the group</button>
  <div class="panel">
    <p>
      <ion-item>
        <ion-label color="black" floating>Late Sleeper:- {{info.lateriser}}</ion-label>
        <ion-input readonly="true"></ion-input>
      </ion-item>
    
    </p>
  </div>
</div>

<div>
  <button class="accordion">Early riser  user of the group</button>
  <div class="panel">
    <p>
      <ion-item>
        <ion-label color="black" floating>Early Riser:- {{info.earlyriser}}</ion-label>
        <ion-input readonly="true"></ion-input>
      </ion-item>
    
    </p>
  </div>
</div>
 <!-- late and early riser Done -->
  </div>
</ion-content>

